includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
        - stubs/VendorConsoleOutput.php
    tmpDir: build/phpstan

services:
